.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  background: white;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  // padding-top: 2rem;

  @media(max-width: 768px) {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: calc(100% - 2rem);
  }
  .bell {
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
  }
  h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    margin: 0;
  }
  .content {
    margin-top: 2rem;
  }
}